@import "./variable.scss";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-size: 10px;
}

html {
  font-size: 10px !important;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: white !important;
  color: #525f7f;
  font-size: 10px !important;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.title-font {
  font-family: $fancy-font-1;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 2.5rem;
  margin: 0;
  color: $dark-font;
  margin: 2.5rem 0rem 1.4rem 0rem;
}
