$primary-color : #1c1d24;
$dark-primary-color : #121318;
$ight-primary-color : #383a47;

$secondary-color : #ea2340;
$dark-secondary-color : #c71c36;
$light-secondary-color : #eb4d64;


$light-color : #f5eee6;
$dark-color : #f5eee6;

$font-color : #fff;
$grey-font-color : #bebebe;
$dark-font : #353535;


$font : 'Oswald', sans-serif;
$fancy-font-1 : 'Abril Fatface', cursive;
$fancy-font-2 : 'Berkshire Swash', cursive;
