$primary-color:  #ffbf00;
$secondary-color: #393939;
$fade-font: #777;


/* Google fonts & font family
==================================================*/
@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600,700);

$font: 'Poppins', sans-serif;